<!--TODOS os arquivos HTML devem ser postos na pasta "views" que é do EJS.-->
<!--Arquivo HTML principal do projeto, com a única diferença da extensão no arquivo.-->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mrsQuestions</title>
  </head>
  <body>
    <h1>Plataforma de Perguntas e Respostas</h1>
    <hr />
    <h3>Lista de perguntas</h3>

    <!--Declarando a variável criada no HTML utilizando as tags "<%= %>"  -->
    <p>Nome: <%= nome %></p>
    <p>Linguagem favorita: <%= lang %></p>
    <p>Cargo: <%= cargo %></p>

    <!--Estruturas condicionais no HTML com o EJS-->
    <% if( msg == true) {%>
    <h3>Ocorreu um erro.</h3>

    <% } else{ %>
    <h3>Página funcionando normalmente.</h3>
    <% } %>

    <!--Estruturas de repetição no HTML com o EJS-->

    <% produtos.forEach(function(produto){ %>
    <!--".forEach" é o método que irá varrer a array de objetos e aplicar "para cada" item a function definida.-->

    <hr />
    <h3><%=produto.nome%></h3>
    <h4><%=produto.preco%></h4>
    <% }) %>
  </body>
</html>
